<table>
  <tr>
    <th>Flag</th>
    <th>Vendor</th>
    <%= render partial: 'layouts/table_headers' %>
  </tr>
  <% @program.purchases.each do |purchase| %>
  <tr>
    <td id="program_purchase_<%= purchase.id %>"><%= link_to 'Flag', purchase_flags_path(purchase), method: "post" %></td>
    <td><%= purchase.show_vendor.name %></td>
    <td><%= purchase.amount %></td>
    <td><%= purchase.description %></td>
    <td><%= purchase.transaction_date %></td>
    <td><%= purchase.payment_date %></td>
  </tr>
  <% end %>
</table>
