<table>
  <tr>
  <th>Vendor</th>
  <%= render partial: 'layouts/table_headers' %>
  </tr>
  <% @program.purchases.each do |purchase| %>
  <tr>
    <td><%= link_to purchase.show_vendor.name, vendor_path(purchase.show_vendor.id) %></td>
    <td><%= purchase.amount %></td>
    <td><%= purchase.description %></td>
    <td><%= purchase.transaction_date %></td>
    <td><%= purchase.payment_date %></td>
  </tr>
  <% end %>
</table>
