<h1>Welcome, <%= current_user.username %></h1>

<h3>Here's a list of the purchases that you wanted to know more about:</h3>

<table>
  <tr>
  <th>Program</th>
  <th>Vendor</th>
  <th>Amount</th>
  <th>Description</th>
  <th>Transaction Date</th>
  <th>Payment Date</th>
  </tr>
  <% current_user.flags.each do |flag| %>
    <tr>
      <td><%= Purchase.find(flag.purchase_id).programs.first.name %></td>
      <td><%= Purchase.find(flag.purchase_id).vendors.first.name %></td>
      <td><%= Purchase.find(flag.purchase_id).amount %></td>
      <td><%= Purchase.find(flag.purchase_id).description %></td>
      <td><%= Purchase.find(flag.purchase_id).transaction_date %></td>
      <td><%= Purchase.find(flag.purchase_id).payment_date %></td>
    </tr>
  <% end %>
</table>

<p>We'll let you know if we inspect any of these charges or gather more information about them.</p>
