<h1>Welcome, <%= current_user.username %></h1>

<h3>Here's a list of the purchases that you wanted to know more about:</h3>

<table>
  <tr>
  <th>Flag</th>
  <th>Program</th>
  <th>Vendor</th>
  <%= render partial: 'layouts/table_headers' %>
  </tr>
  <% current_user.purchases.each do |purchase| %>
    <tr>
      <td><%= purchase.show_program.name %></td>
      <td><%= purchase.show_vendor.name %></td>
      <td><%= purchase.amount %></td>
      <td><%= purchase.description %></td>
      <td><%= purchase.transaction_date %></td>
      <td><%= purchase.payment_date %></td>
    </tr>
  <% end %>
</table>

<p>We'll let you know if we inspect any of these charges or gather more information about them.</p>
