<table>
  <th>Flag</th>
  <th>Program</th>
  <th>Amount</th>
  <th>Description</th>
  <th>Transaction Date</th>
  <th>Payment Date</th>
  <% @vendor.purchases.each do |purchase| %>
    <tr>
      <td><%= link_to 'Flag', purchase_flags_path(purchase), method: "post" %></td>
      <td><%= purchase.programs.first.name %></td>
      <td><%= purchase.amount %></td>
      <td><%= purchase.description %></td>
      <td><%= purchase.transaction_date %></td>
      <td><%= purchase.payment_date %></td>
    </tr>
  <% end %>
</table>
