<!DOCTYPE html>
<html>
  <head>
    <title>DenverSpendingTracker</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons|Bitter">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user.nil? %>
      <%= render partial: 'layouts/welcome' %>
    <% else %>
      <%= render partial: 'layouts/loggedin' %>
    <% end %>
    <%= yield %>
  </body>
</html>
